@model int

<div class="text-center">

    <h1 class="text-info pt-4"> Congratulations! you are one step closer to Your Ordered Food</h1>
    <p class="pb-3">We have Received your Order and will be Ready in 30 minutes During Business Hours</p>
    <h4 class="text-warning pb-3">Order Id - @Model</h4>
    <img src="/Images/order.PNG" width="80%"/>
</div>
